body {
    min-height: 95vh;
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    text-align: center;
    margin: 50px auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

/* Control box styling */

.controlsCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid gray;
    max-height: 500px;
    width: 500px;
    padding: 10px;
}
.yearCon, .teamCon {
    border: 2px solid red;
}
.yearCon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    gap: 10px;
    
}

.seasonSelect {
    width: 100%;
}


.teamCon {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
}
.teamGrid {
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.teamGrid img {
    display: flex;
    border: none;
    padding: 1px;
    max-height: 100%;
    max-width: 100%;
}
.teamGrid.clicked {
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px solid lightblue;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Chart box styling */

.chartCon {
    border: 3px solid gray;
    padding: 10px;
    height: 600px;
    width: 600px;
}
canvas {
    max-width: 100%;
    max-width: 100%;
}
#chart {
    max-width: 100%;
    max-height: 100%
}

footer {
    margin: 25px auto;
    
}
footer span {
    font-size: larger;
    font-weight:bold;
}